<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cam.grupo09.gopart_y">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MenuActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.InvitarActivity" android:label="@string/title_activity_invitaciones"/>
        <activity android:name=".activities.EvaluarInvitacionActivity" android:label="@string/title_activity_evaluar_invitacion"/>
        <activity android:name=".activities.EventoActualActivity" android:label="@string/title_activity_evento_actual"/>
        <activity android:name=".activities.SeleccionarFechaActivity" android:label="@string/title_activity_fehca"/>
        <activity android:name=".activities.SeleccionarGustosActivity" android:label="@string/title_activity_gustos"/>
        <activity android:name=".activities.InvitacionesPendientesActivity" android:label="@string/title_activity_invitaciones"/>


    </application>

</manifest>
